
body {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    background: var(--clr_bodybg);
    font-family: 'Roboto', sans-serif;
}
h1 {
    margin: 0px;
    font-size: 22px;
}
h2 {
    margin: 0px;
    font-size:20px;
}
h3 {
    margin: 0px;
    font-size:18px;
}
p {
    margin: 0px;
}

.material-icons {
    font-size: 14px;
}


/*
 * modifiers to make blocks disappear and re-appear.
 *  visibleIB: for normal divs (inline-block)
 *  visibleTC: for buttons (table-cells) for vertical alignment
 */
.visibleB, .statusDivShow, .metaMaskDivShow {
    display: block;
}
.visibleIB {
    display: inline-block;
}
.visibleTC {
    display: table-cell;
}
.hidden, .statusDivHide, .metaMaskDivHide {
    display: none;
}
.attention {
    background-color: #9cd9db;
}


.notBlinking {
}
.blinking {
    animation: blinkingText 0.8s infinite;
}
@keyframes blinkingText {
    0%   { color: #000;        }
    49%  { color: transparent; }
    50%  { color: transparent; }
    99%  { color: transparent;  }
    100% { color: #000;        }
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#privateKeyDiv,
#loadAddrFileDiv,
#filtersDiv {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 120px;
    width: 40%;
    height: auto;
    overflow: auto;
    transform: translate(-50%, 0px);
    padding: 25px;
    background-color: var(--clr_optpanelbg);
    border: 2px solid var(--clr_border);

}
#privateKeyDiv h3,
#loadAddrFileDiv h3,
#filtersDiv h3 {
    text-align: center;
    padding-top: 25px;
}
#privateKeyDiv p,
#loadAddrFileDiv p,
#filtersDiv p, #filtersDiv ul {
    margin-top: 20px;
    text-align: center;
    max-width: 80%;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
#filtersDiv ul {
    text-align: left;
}
#privateKeyInput {
    margin-top: 20px;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 45em;
}
#filterFeeInput,
#filterBalanceInput,
#filterActivityInput {
    width: 8em;
}
#privateKeyButtonsDiv,
#loadAddrFileButtonsDiv,
#filtersButtonsDiv {
    margin-top: 20px;
    width: 25em;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
#privateKeySave,
#loadAddrFileInput,
#filtersSave {
    float: right;
}
#privateKeyCancel,
#loadAddrFileCancel,
#filtersCancel {
    float: left;
}
.modalInput {
    border-style: groove;
}
#waitIcon {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    z-index: 2;
    animation-name: waitIconAnimation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image: url('../images/loading.png');
}

@keyframes waitIconAnimation {
    from {
	-webkit-transform: rotate(0deg);
    }
    to {
	-webkit-transform: rotate(359deg);
    }
}


/* this modal has a message telling the user that we are waiting
   for metamask
*/
#metaMaskDiv {
    position: fixed;
    z-index: 2;
    left: 55%;
    top: 15%;
    width: 300px;
    height: 50px;
    padding: 10px;
    overflow: none;
    border: 1px solid #888;
    background-color: #60ff60;
}

#newMsgModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 80%;
    top: 22%;
    width: 270px;
    height: 50px;
    padding: 10px;
    overflow: none;
    border: 1px solid #888;
    background-color: #9cd9db;
}

#retrievingMsgsModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 30%;
    width: 270px;
    height: 50px;
    padding: 10px;
    overflow: none;
    border: 1px solid #888;
    background-color: #9cd9db;
}

#retrievingMsgsModal>p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
}


#importantInfoButton {
    float: left;
    margin-left: 10px;
    margin-right: auto;
}

#topSection {
    display: block;
    font-family: 'Lato', sans-serif;
    background-color: var(--clr_areabg1);
    margin: 5px;
    height: 100px;
    position: relative;
    top: 0px;
    left: 0px;
}

#mainTitleSpan {
    float: left;
    margin-left: 20px;
    color: var(--clr_maintitletext);
    font-style: italic;
    position: absolute;
    left: 100px;
    top: 50%;
    max-width: 50%;
    transform: translateY(-50%);
}
#logoImg {
    width: 100px;
    height: 84px;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}


/*
 * options panel styles here
 */
#optionsButtonDiv {
    float:right;
    position: relative;
}
#optionsButton {
    float:right;
    width: 30px;
    height: 30px;
    position: relative;
    top: 70px;
}
#optionsButton:hover {
    opacity: 0.7;
    cursor: pointer;
}
#optionsPanel {
    width: 300px;
    height: 210px;
    position: absolute;
    top: 70px;
    left: 100%;
    transform: translateX(-300px);
    font-size: 14px;
    z-index: 2;
    padding: 15px;
    background-color: var(--clr_optpanelbg);
    border: 2px solid var(--clr_border);
}
#versionArea {
    width: 80%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -24px);
    font-size: 12px;
    text-align: center;
    resize: none;
    overflow: hidden;
    height: 14px;
}
#closeOptionsButton {
    float: right;
    width: auto;
    height: auto;
    padding: 5px;
}
#themeSelectorSpan {
    position: absolute;
    top: 42px;
    left: 0%;
    padding: 20px;
}
#viewSrcSpan {
    position: absolute;
    top: 150px;
    left: 0%;
    padding: 20px;
}


#tabularArea {
    float:right;
    margin: 10px;
}
#networkAreaDiv, #accountAreaDiv, #balanceAreaDiv, #totalReceivedAreaDiv, #feeBalanceAreaDiv  {
    display: block;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 0px;
    min-width: 20%;
    background-color: var(--clr_border);
}
#networkArea, #accountArea, #balanceArea, #totalReceivedArea, #feeBalanceArea {
    float: right;
    padding: 0px;
    margin: 0px;
    min-width: 20%;
    resize: none;
}

#topMenuBarDiv {
    display: block;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
    background-color: var(--clr_border);
    position: relative;
    border-radius: 12px;
}

.menuBarButton, .menuBarButtonEnabled, .menuBarButtonDisabled,
.menuBarButtonSelected, .menuBarButton:hover {
    margin: 5px;
    width: 15%;
    height: 80%;
    padding : var(--pad_menubar);
    color: var(--clr_buttontext);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}
.menuBarButton, .menuBarButtonEnabled, .menuBarButtonDisabled {
    background-color: var(--clr_buttonbg);
    border: var(--bor_butnormal);
}
.menuBarButton:hover, .menuBarButtonSelected, .menuBarButtonEnabled:hover {
    background-color: var(--clr_buttonbgsel);
    border: var(--bor_butselect);
}
.menuBarButton:hover, .menuBarButtonEnabled:hover {
    cursor: pointer;
}
#addrCountArea {
    vertical-align: middle;
    padding-top: 1px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-left: 0px;
    margin: 0px;
    resize: none;
    color: var(--clr_areatext);
}

#statusLineDiv {
    display: block;
    font-family: 'Lato', sans-serif;
    background-color: var(--clr_areabg1);
    margin: 5px;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
}
#statusLine {
    margin: 5px;
    width: 98%;
    resize: none;
}

.msgInfoAreaButton {
    margin: 1px;
    border: var(--bor_butnormal);
}
.msgInfoAreaButton:hover {
    cursor: pointer;
    border: var(--bor_butselect);
}
.msgInfoAreaButton[disabled], .msgInfoAreaButton[disabled]:hover, .msgInfoAreaButton[disabled]:focus, .msgInfoAreaButton[disabled]:active {
    cursor: default;
    border: var(--bor_butnormal);
}

#prevUnreadButton {
}
#nextUnreadButton {
    margin-right: 20px;
}


/*
  message list attributes
  note that it's necessary to collapse table borders (as opposed to being draw separate) or
  else you can't set a border with display: table-row. also you can't use margin & padding
  with display: table-row, cuz the height is always the height of the cell. so i work around
  by setting a transparent border where i would want a margin.
*/
#listAreaDiv  {
    padding: 14px;
    margin: 5px;
    background-color: var(--clr_areabg1);
    border-collapse: collapse;
    color: var(--clr_areatext); /*yellow; */
    width: 98%;
    overflow-y: hidden;
    overflow-x: hidden;
}
#addrListDiv  {
    height: 211px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.addrListItemDiv, .addrListItemDivSelected,
.addrListItemDivValid, .addrListItemDivSelectedValid {
    display: inline-flex;
    clear: both;
    background-color: var(--clr_areabg1);
    font-weight: normal;
    width: 100%;
}
.addrListItemDiv,
.addrListItemDivValid {
    border: 1px solid transparent;
    margin: 1px;
}
.addrListItemDiv:hover,
.addrListItemDivValid:hover {
    border: 1px solid #404040;
    margin: 1px;
}
.addrListItemDivSelected,
.addrListItemDivSelectedValid {
    border: 2px solid #404040;
}
.addrListItemDivValid,
.addrListItemDivSelectedValid {
    font-weight: bold;
}
#addrListHeaderSubject {
    margin-right: 1em;
}
.addrListAddrNoArea, .addrListAddrArea, .addrListValidArea, .addrListFeeArea, .addrListBalanceArea, .addrListActivityArea, .addrListSendArea {
    display: table-cell;
    vertical-align: middle;
    padding-top: 1px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-left: 0px;
    margin: 0px;
    resize: none;
    font-weight: inherit;
    color: var(--clr_areatext);
}
.addrListAddrNoArea {
    width: 5em;
    min-width: 5em;
    overflow: hidden;
}
.addrListAddrArea {
    width: 36em;
    min-width: 36em;
}
.addrListValidArea {
    width: 8em;
    min-width: 8em;
}
.addrListFeeArea, .addrListBalanceArea {
    width: 12em;
    min-width: 12em;
}
.addrListActivityArea {
    width: 12em;
    min-width: 12em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: hidden;
}
.addrListSendArea {
    min-width: 20em;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: elipsis;
    margin-right: 10px;
}



/*
  individual message area attributes
*/
#msgAreaDiv  {
    display: block;
    padding: var(--pad_msgAreaDiv);
    margin-top: var(--martop_msgAreaDiv);
    margin-left: 0px;
    margin-right: auto;
    background-color: var(--clr_border);
    border-radius: 12px;
    color: var(--clr_areatext);
}

#msgInfoAreaDiv {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    display: table;
    margin: 0px;
    min-width: 80%;
    background-color: var(--clr_areabg1);
    color: var(--clr_areatext);
}
#validateAddrButton:hover {
    cursor: pointer;
}
#msgPromptArea, #msgAddrArea, #msgIdArea {
    vertical-align: middle;
    padding-top: 1px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-left: 0px;
    margin: 0px;
    resize: none;
    color: var(--clr_areatext);
}
#msgPromptArea {
    display: table-cell;
    width: 4em;
    max-width: 4em;
}
#msgAddrArea {
    display: table-cell;
    width: 46em;
    min-width: 20%;
}
#msgIdArea {
    width: 20em;
}

#msgRefButton {
    vertical-align: middle;
    padding-top: 0px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-left: 6px;
    width: 20em;
    min-width: 10em;
    border-radius: 8px;
    color: var(--clr_buttontext);
}

#msgDateArea {
    vertical-align: middle;
    padding-top: 1px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-left: 0px;
    margin: 0px;
    width: 20em;
    resize: none;
}
#validateAddrButton {
    vertical-align: middle;
    padding-top: 0px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-left: 6px;
}
#msgFeeArea {
    float: right;
    vertical-align: middle;
    padding-top: 1px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-left: 0px;
    margin: 0px;
    width: 14em;
    resize: none;
}
#replyButton {
    float: right;
    vertical-align: middle;
    padding-top: 0px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-left: 6px;
    border-radius: 8px;
    color: var(--clr_buttontext);
}
#attachmentButton, #attachmentInput {
    float:right;
    vertical-align: middle;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 6px;
    border-radius: 8px;
    color: var(--clr_buttontext);
}
#attachmentButton {
    padding-right: 6px;
}
#attachmentInput {
    padding-right: 0px;
    max-width: 15em; /* emough space for no file chosen */
}
#attachmentInput:hover {
    cursor: pointer;
}
#deleteImg {
    display: none;
    float: right;
    position: relative;
    top: -5px;
    left: -5px;
    width: 30px;
    height: 30px;
}
#deleteImg:hover {
    cursor: pointer;
}
#attachmentSaveA {
    float: right;
    margin-right: 10px;
}
#attachmentSaveSpan {
    display: block;
    vertical-align: middle;
    padding-top: 0px;
    padding-right: 6px;
    padding-bottom: 0px;
    padding-left: 26px;
    border-radius: 8px;
    color: var(--clr_buttontext);
    background-color: var(--clr_buttonbg);
    width: fit-content;
    height: 20px;
    background-image: url('../images/clip.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#msgTextAreaDiv {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
    margin: 0px;
    min-width: 90%;
    background-color: var(--clr_areabg1);
}
#msgTextArea {
    padding: 0px;
    margin: 0px;
    min-width: 100%;
    resize: none;
}
#registerDiv {
    padding: 0px;
    margin: 0px;
    min-width: 100%;
    resize: none;
    height: 14em;
}
DIV.finalresultstable {
    background-color: #60ff60;
    padding: 2px;
    margin: 2px;
}


@media (max-width: 1149px) and (min-width: 384px) {
    #navButtonsSpan {
	/* nive nav buttons to below view-sent, view-received */
	position: relative;
	margin-top: 13px;
    }
}
